*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*---body---*/
.container{
    display: grid;
    grid-template-areas: "header header"
                        "section aside"
                      "footer footer" ;
     grid-template-columns:  40% 60%;
     grid-template-rows: 225px auto 100px ;  /* ~~= headder + (aside == section) + footer */
    background-color: white;
    box-shadow: 10px 10px 5px #888888;
    
}
body{
    background-image:url(portbg.jpg);
    margin: 50px;
  
}
/*---end---*/

/*--- header---*/
header{
    grid-area: header;
}
.headbg{
   
    display: flex;
    background-color: #718093;
    border-bottom: 10px solid #7f8fa6;
    text-align: center;
    height: 100%;
    
}

.namebox{
    margin-top: 50px;
    margin-left: 50px;
    font-size: 40px;
    text-shadow: 2px 2px 8px rgb(248, 245, 245);
}
.name{
    
    font-size: 30px;
    margin-left:-80px;
    text-shadow: 2px 2px 8px  rgb(248, 245, 245);
}
.profilebox{
   margin-top: 25px;
   margin-left: 25px;

}
.profilepic{
    max-width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid white;
    display: block;
}
/*----end----*/

/*---Section---*/
section{
    grid-area: section;
}
.sectionbg{
   
    background-color: #bdc3c7 ;
    position: relative; /*ตัวอักษรไม่ซ้อน layout*/
    height: 100%;
}
.headtext{
    color : #222f3e ;
    font-size: 1rem;
    font-weight: bolder;
    padding-top: 5%;
   text-align: center;
}
.introaboutme{
    
    margin-top: 20px;
    text-align: center;
    font-size: 1.25rem;
}
.skilltext{
    margin-left: 14%;
    margin-top: 20px;
    font-size: 1.25rem;
}
/*---end---*/
/*---aside---*/
aside{
    grid-area: aside;
}
.asidebg{
    background-color: #dcdde1;
    position: relative;
    height: 100%;
}
.introhead{
    color : #222f3e;
    margin-left: 10%;
    font-size: 1rem;
}
.infotext{
    margin-left: 15%;  
    font-size: 1.25rem;

}
.listtext{
    margin-left: 15%;
    font-size: 1.25rem;
}
/*---end---*/
/*---footer---*/
footer{
    grid-area: footer;
}
.footerbg{
    
    background-color: #95a5a6;
    height: 100px;
    position: relative;
}
.linkicon{
    margin-top: auto;
    display: block;
    text-align: end;
    margin-right: 20px;
    padding-top: 20px;
    font-size: 2rem;
    text-shadow: 2px 2px 8px rgb(248, 245, 245);
}